@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&display=swap');

.title {
    text-align: center;
    font-size: 8em;
    color: #ebd6d5;
    margin-top: 20px;
    font-family: 'Playpen Sans', cursive;
}
.software {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}